[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
clearml = "*"
google-cloud-storage = "*"
shared = {git = "https://github.com/greenearth-social/engagement-prediction.git", ref = "main"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
