-i https://pypi.org/simple
annotated-doc==0.0.4; python_version >= '3.8'
annotated-types==0.7.0; python_version >= '3.8'
anyio==4.13.0; python_version >= '3.10'
attrs==26.1.0; python_version >= '3.9'
certifi==2026.4.22; python_version >= '3.7'
cffi==2.0.0; python_version >= '3.9'
charset-normalizer==3.4.7; python_version >= '3.7'
clearml==2.1.5
click==8.3.3; python_version >= '3.10'
cryptography==47.0.0; python_version >= '3.8' and python_full_version not in '3.9.0, 3.9.1'
fastapi==0.136.1; python_version >= '3.10'
furl==2.1.4
google-api-core==2.30.3; python_version >= '3.9'
google-auth==2.49.2; python_version >= '3.8'
google-cloud-core==2.5.1; python_version >= '3.9'
google-cloud-storage==3.10.1; python_version >= '3.10'
google-crc32c==1.8.0; python_version >= '3.9'
google-resumable-media==2.8.2; python_version >= '3.9'
googleapis-common-protos==1.74.0; python_version >= '3.9'
h11==0.16.0; python_version >= '3.8'
httptools==0.7.1; python_version >= '3.9'
idna==3.13; python_version >= '3.8'
jsonschema==4.26.0; python_version >= '3.10'
jsonschema-specifications==2025.9.1; python_version >= '3.9'
numpy==2.4.4; python_version >= '3.11'
orderedmultidict==1.0.2
pathlib2==2.3.7.post1
pillow==12.2.0; python_version >= '3.10'
proto-plus==1.27.2; python_version >= '3.9'
protobuf==7.34.1; python_version >= '3.10'
psutil==7.2.2; python_version >= '3.6'
pyasn1==0.6.3; python_version >= '3.8'
pyasn1-modules==0.4.2; python_version >= '3.8'
pycparser==3.0; python_version >= '3.10'
pydantic==2.13.3; python_version >= '3.9'
pydantic-core==2.46.3; python_version >= '3.9'
pyjwt==2.12.1; python_version >= '3.9'
pyparsing==3.3.2; python_version >= '3.9'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
python-dotenv==1.2.2; python_version >= '3.10'
pyyaml==6.0.3; python_version >= '3.8'
referencing==0.37.0; python_version >= '3.10'
requests==2.33.1; python_version >= '3.10'
rpds-py==0.30.0; python_version >= '3.10'
shared @ git+https://github.com/greenearth-social/engagement-prediction.git@99467384e03982d1621f62d8e842ce215e46537b
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
starlette==1.0.0; python_version >= '3.10'
typing-extensions==4.15.0; python_version >= '3.9'
typing-inspection==0.4.2; python_version >= '3.9'
urllib3==2.6.3; python_version >= '3.9'
uvicorn[standard]==0.46.0; python_version >= '3.10'
uvloop==0.22.1; python_full_version >= '3.8.1'
watchfiles==1.1.1; python_version >= '3.9'
websockets==16.0; python_version >= '3.10'
